body {

	font-family: 'Lato'; sans-serif;
	color: #747704;
	font-weight: 300;
}

.horizonal-super {

    height: 3px;
    background-color: #BCBBBB;
}

.text-muted {


}

.text-thin {

}

.title-super{


}

.title-logo {	


}