body {

    font-family: 'Lato', sans-serif;
    color: #666756;
    font-weight: 300;
}

.horizonal-super {

    height: 3px;
    background-color: #BCBBBB;
}

.text-muted {

    font-size: 40px;
    color:#bbbbbb;
}

.title-super{

    font-size:60px;
    font-weight:100;


}

.title-logo {

    margin-top: 40px;


}

.project-title {

    font-size:40px;
}


.project-names {

    font-size:50px;
    font-weight:bold;

}
